{% extends 'base2.html.twig' %}
{% block title %}En construccion{% endblock %}
{% block extracontent %}

{% endblock %}
{% block body %}
    <!--============================== content =================================-->

    <div id="content" class="extra-content">
        <div class="row-12" style="background: url({{ asset('img/imagen.png') }}) no-repeat; background-size: 100% 100%;">
            <div class="container">
                <div class="row policy">
                    <article class="span12" style="height:600px">

                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
