{% extends 'base2.html.twig' %}
{% block title %}Nuestra Empresa{% endblock %}
{% block extracontent %}

{% endblock %}
{% block body %}
    <!--============================== content =================================-->

    <div id="content" class="extra-content">
        <div class="row-7">
            <div class="container">
                <div class="row policy">
                    <article class="span4 ">
                        <h2 class="title2">Nuestra Empresa</h2>
                        <img src="{{ asset('img/empresa.png') }}" alt="">
                    </article>
                    <article class="span8">
                        <h2 class="title2"></h2>
                        <br>
                        <h4>VALORES CORPORATIVOS </h4>
                        <p><strong> Responsabilidad Social</strong> Es nuestro principal objetivo, vivir y trabajar unidos por el bien
común, extendiendo la responsabilidad de la empresa más allá de los intereses económicos de
los accionistas y hacia todas las personas e instituciones involucradas en el negocio.</p>

                        <p>
                            <strong> Profesionalismo</strong> Es nuestro compromiso mantenernos con un alto nivel de exigencia ética
y profesional, para responder con los más altos estándares de calidad a la necesidad de un
servicio oportuno y atención personalizada, para refrendar un trabajo muy profesional que nos
integre con nuestros clientes.
                        </p>

                        <p>
                            <strong>Transparencia</strong> Es nuestra obligación promover un escenario en donde se reafirme el liderazgo
y el compromiso sobre la adopción de los valores y principios institucionales, como una política
corporativa de hacer públicas nuestras actuaciones y se puedan evidenciar nuestros resultados.
                        </p>
                        <p>
                            <strong>Respeto</strong> Es nuestro propósito enfatizar en el respeto, como el principio que nos representa en la
relación de confianza mutua, permitiéndonos dar cumplimiento a la oferta de valor y/o servicio
prometido a nuestros clientes.
                        </p>

                        <p>
                            <strong>Trabajo</strong> Es nuestra decisión mantener una excepcional actitud en el servicio, permitiendo de
una manera espontánea y con un trabajo en equipo, servir eficazmente a nuestros clientes,
transmitiéndoles el sentimiento de que toda la organización gira en torno a él.” (Directiva
general de la empresa 2007)
                        </p>

                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
