{% extends 'base2.html.twig' %}
{% block title %}Nuestra Empresa{% endblock %}
{% block extracontent %}

{% endblock %}
{% block body %}
    <!--============================== content =================================-->

    <div id="content" class="extra-content">
        <div class="row-7">
            <div class="container">
                <div class="row policy">
                    <article class="span4 ">
                        <h2 class="title2">Nuestra Empresa</h2>
                        <img src="{{ asset('img/empresa.png') }}" alt="">
                    </article>
                    <article class="span8">
                        <h2 class="title2"></h2>
                        <br>
                        <h4>VALORES CORPORATIVOS </h4>
                        <p><strong> RESPONSABILIDAD</strong><br> Trabajamos con eficiencia y profesionalismo para cumplir con los objetivos de la empresa, haciendo más de lo esperado.</p>

                        <p>
                            <strong> ENTUSIAMO</strong> <br> Trabajamos con pasión, alegría y disfrutamos con todo lo que hacemos.
                        </p>

                        <p>
                            <strong>SENCILLEZ</strong> <br> Nos caracterizamos por tratar con sencillez, amabilidad y respecto a todos nuestros clientes, empleados y proveedores, logrando un buen ambiente laboral.
                        </p>
                        <p>
                            <strong>ETICA</strong> <br> Todas las acciones dentro y fuera de la empresa, estarán enmarcadas por la lealtad, integridad, honestidad y transparencia.
                        </p>

                        <p>
                            <strong>SERVICIO</strong> <br> Trabajamos en equipo para atender y brindar lo mejor de nuestros servicios, fortaleciendo así relaciones de credibilidad y confianza.
                        </p>

                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
