{% extends 'base2.html.twig' %}
{% block title %}Nuestra Empresa{% endblock %}
{% block extracontent %}

{% endblock %}
{% block body %}
    <!--============================== content =================================-->

    <div id="content" class="extra-content">
        <div class="row-7">
            <div class="container">
                <div class="row policy">
                    <article class="span4 ">
                        <h2 class="title2">Nuestra Empresa</h2>
                        <img src="{{ asset('img/empresa.png') }}" alt="">
                    </article>
                    <article class="span8">
                        <h2 class="title2"></h2>
                        <br>
                        <h4>Visi칩n</h4>
                        <p>En el 2018 ORBE ser치 una organizaci칩n  reconocida por su liderazgo, trayectoria , profesionalismo, innovaci칩n y sostenibilidad, apoyados en nuestros valores corporativos y alto compromiso social .</p>

                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
